# Variables for Fluidd's macros
[gcode_macro _CLIENT_VARIABLE]
  variable_use_custom_pos   : False ; use custom park coordinates for x,y [True/False]
  variable_custom_park_x    : 0.0   ; custom x position; value must be within your defined min and max of X
  variable_custom_park_y    : 0.0   ; custom y position; value must be within your defined min and max of Y
  variable_custom_park_dz   : 45.0  ; custom dz value; the value in mm to lift the nozzle when move to park position

  variable_retract          : 1.0   ; the value to retract while PAUSE
  variable_cancel_retract   : 5.0   ; the value to retract while CANCEL_PRINT
  variable_speed_retract    : 35.0  ; retract speed in mm/s
  variable_unretract        : 1.0   ; the value to unretract while RESUME
  variable_speed_unretract  : 35.0  ; unretract speed in mm/s
  variable_speed_hop        : 15.0  ; z move speed in mm/s
  variable_speed_move       : 100.0 ; move speed in mm/s

  variable_park_at_cancel   : True  ; allow to move the toolhead to park while execute CANCEL_PRINT [True/False]
  variable_park_at_cancel_x : -1    ; different park position during CANCEL_PRINT [None/Position as Float]; park_at_cancel must be True
  variable_park_at_cancel_y : 305   ; different park position during CANCEL_PRINT [None/Position as Float]; park_at_cancel must be True

  # !!! Caution [firmware_retraction] must be defined in the printer.cfg if you set use_fw_retract: True !!!
  variable_use_fw_retract   : True  ; use fw_retraction instead of the manual version [True/False]
  variable_idle_timeout     : 0     ; time in sec until idle_timeout kicks in. Value 0 means that no value will be set or restored
  variable_runout_sensor    : ""    ; If a sensor is defined, it will be used to cancel the execution of RESUME in case no filament is detected.
  #                                   Specify the config name of the runout sensor e.g "filament_switch_sensor runout". Hint use the same as in your printer.cfg

  # !!! Custom macros, please use with care and review the section of the corresponding macro.
  # These macros are for simple operations like setting a status LED. Please make sure your macro does not interfere with the basic macro functions.
  # Only  single line commands are supported, please create a macro if you need more than one command.
  variable_user_pause_macro : ""                      ; Everything inside the "" will be executed after the klipper base pause (PAUSE_BASE) function
  variable_user_resume_macro: "_RESUME_DUAL_EXTRUDER" ; Everything inside the "" will be executed before the klipper base resume (RESUME_BASE) function
  variable_user_cancel_macro: ""                      ; Everything inside the "" will be executed before the klipper base cancel (CANCEL_PRINT_BASE) function
  gcode:

[gcode_macro _RESUME_DUAL_EXTRUDER]
  description = Ensure resume macro activates both extruder temperatures
  gcode =
    {% set restore_macro = printer['gcode_macro RESUME'] %}
    # Restore temperature
    {% if restore_macro.last_extruder_temp.restore %}
      # we need to use the unicode (\u00B0) for the ° as py2 env's would throw an error otherwise
      RESPOND TYPE=echo MSG='{"Restoring both extruders temperature to %3.1f\u00B0C, this may take some time" % (restore_macro.last_extruder_temp.temp) }'
      M104 T0 S{restore_macro.last_extruder_temp.temp}
      M109 T1 S{restore_macro.last_extruder_temp.temp}
      M109 T0 S{restore_macro.last_extruder_temp.temp}
    {% endif %}

[gcode_macro SET_Z_OFFSET]
  description = Set Z offset
  gcode =
    # Move to center of the bed and use probe to find the bed (carefully..)
    RESPOND TYPE=echo MSG='Setting z-offset at center of bed'
    G90
    G0 X{printer.toolhead.axis_maximum.x/2 |int} Y{printer.toolhead.axis_maximum.y/2 |int} Z5 F6000
    G0 Z2 F120
    # The probe result value is absolute, but we actually want the relative position
    # Probe will leave the nozzle against the bed for us
    probe

    # Invoke a separate macro so the position information is available to Jinja.
    _SZOFFSET_CALCULATE

    # Raise nozzle off the bed to avoid damage
    G91
    G0 Z5 F6000
    G90

[gcode_macro _SZOFFSET_CALCULATE]
  description = Perform math checks for z-offset macro
  gcode =
    {% set probe_correction = 0.2 %}
    {% set probe_result = printer.gcode_move.position.z + probe_correction | default(0.0) | float %}

    # Check that the value is sane
    {% set max_offset = 3 %}
    {% if probe_result | abs > max_offset %}
      RESPOND TYPE=error MSG='Z-offset too high, clean nozzle before trying again.'
    {% else %}
      SET_GCODE_OFFSET Z={probe_result}
      SAVE_VARIABLE VARIABLE=zoffset VALUE={probe_result}
      RESPOND TYPE=echo MSG='Z-offset set to {probe_result}'
    {% endif %}

# Mixing!
[gcode_macro M567]
  description = Set tool mix ratios
  # https://reprap.org/wiki/G-code#M567:_Set_tool_mix_ratios
  # M567 P2 E0.25:0.75

  gcode =
    # P parameter: Specify the tool to apply ratios to.
    # Default to the currently active tool.
    {% set tool = params.P | replace('=', '') | default(printer['gcode_macro _ACTIVATE_TOOL'].active_tool) | int %}
    # Confirm the tool actually, you know, exists.
    {% if not printer['gcode_macro T%s' % tool] %}
      { action_raise_error('Macro T%s not found.' % tool) }
    {% endif %}
    {% set tool_macro = printer['gcode_macro T%s' % tool] %}

    # E parameter: Colon-delimeted movement ratios for each stepper.
    # E0.25:0.75 will extrude 25% via the first extruder, 75% through the second
    # Doesn't need to add up to 100%, but that will be weird.
    # Can't add up to more than 100%, that would break things.
    # If the values provided are less than steppers the remaining are set to 0.
    # Last note, Klipper wants E0.5 style, some tools will do E=0.5. Strip the =
    {% set raw_ratios = params.E | default('1') | replace('=', '') %}
    {% set ratios = raw_ratios.split(':') %}
    {% set new_ratios = [] %}
    {% for t in tool_macro.mixing_steppers %}
      {% set ratio = 0 if loop.index > (ratios | length) else (ratios[loop.index0] | float) %}
      {% set _ = new_ratios.append(ratio) %}
    {% endfor %}

    # RESPOND TYPE=echo MSG="Setting ratios for T{tool} to {new_ratios | pprint | replace("\n", "") | replace("\"", "\\\"")}"
    SET_GCODE_VARIABLE MACRO=T{tool} VARIABLE=mixing_ratios VALUE="{new_ratios | pprint | replace("\n", "") | replace("\"", "\\\"")}"

    # If we just modified the active tool we'll need to re-activate it.
    {% if tool == printer['gcode_macro _ACTIVATE_TOOL'].active_tool %}
      _ACTIVATE_TOOL P={tool}
    {% endif %}

[gcode_macro _ACTIVATE_TOOL]
  description = Apply the config for a tool
  variable_active_tool = 0
  gcode =
    {% set tool = params.P | default(active_tool) | int %}
    {% if not printer['gcode_macro T%s' % tool] %}
      { action_raise_error('Macro T%s not found to activate' % tool) }
    {% endif %}
    {% set tool_macro = printer['gcode_macro T%s' % tool] %}
    {% set lead_extruder = tool_macro.mixing_steppers | first %}

    # Sanity check: Greater than 100% ratio doesn't make sense.
    {% if ((tool_macro.mixing_ratios | sum()) > 1.0) %}
      { action_raise_error('Mixing ratios for T%s add up to over 1.0, currently: %s' % (tool, tool_macro.mixing_ratios)) }
    {% endif %}

    # Set up the lead extruder
    SET_GCODE_VARIABLE MACRO=_ACTIVATE_TOOL VARIABLE=active_tool VALUE={tool}
    ACTIVATE_EXTRUDER EXTRUDER={lead_extruder}

    # Now set up all of the ratios for the group
    {% for t in tool_macro.mixing_steppers %}
      {% set ratio = [[0, tool_macro.mixing_ratios[loop.index0]] | max, 1] | min %}
      {% set queue = lead_extruder if ratio > 0 else '' %}
      {% set ratio = ratio if queue != '' else 1 %} # Zero rotation distance isn't allowed
      {% set distance = printer.configfile.settings[t].rotation_distance / ratio %}
      SYNC_EXTRUDER_MOTION EXTRUDER={t} MOTION_QUEUE={queue}
      SET_EXTRUDER_ROTATION_DISTANCE EXTRUDER={t} DISTANCE={distance}
    {% endfor %}

[gcode_macro INITIALIZE]
  description: Start up printer and go through the motions, literally.
  gcode:
    {% if not "xyz" in printer.toolhead.homed_axes %}
      G28
    {% endif %}

    # Start heat soaking the bed.
    M140 S60
    G0 X{printer.toolhead.axis_maximum.x/2} Y50 Z50 F8000
    M117 ...Idle...

[gcode_macro PRINT_WARMUP]
  description: Preheat and begin heatsoak of the printer before starting a print
  gcode:
    {% set BED_TEMP = params.BED_TEMP|default(0)|int %}

    {% set EXTRUDER_TEMP = params.EXTRUDER_TEMP|default(0)|int %}
    {% if EXTRUDER_TEMP == 0 %}
      { action_raise_error('EXTRUDER_TEMP missing from PRINT_WARMUP') }
    {% endif %}

    # Bed is gonna take a while, start now while we do other things.
    M140 S{BED_TEMP}
    # Warm up the extruder, but avoid ooze by keeping it at 75%
    M104 T0 S{EXTRUDER_TEMP * 0.75}
    M104 T1 S{EXTRUDER_TEMP * 0.75}

    # Make sure we're homed
    {% if not "xyz" in printer.toolhead.homed_axes %}
      G28
    {% endif %}

    ## This must come last!
    {% if BED_TEMP > 20 %}
      # Use the secondary bed temperature sensor to wait for a stable temperature
      M117 {"Heating bed %3.1f\u00B0C" % BED_TEMP}
      RESPOND TYPE=echo MSG='{"Preheating bed to %3.1f\u00B0C, this may take some time" % (BED_TEMP)}'
      HEAT_SOAK HEATER='heater_bed' TARGET={BED_TEMP} SOAKER='temperature_sensor bed_top'
    {% endif %}

[gcode_macro PRINT_START]
  description = Power on motion system, home, set temperature and initiate printing
  gcode =
    {% set BED_TEMP = params.BED_TEMP|default(0)|int %}

    {% set EXTRUDER_TEMP = params.EXTRUDER_TEMP|default(0)|int %}
    {% if EXTRUDER_TEMP == 0 %}
      M117 Error
      { action_raise_error('EXTRUDER temp missing from PRINT_START') }
    {% endif %}

    M140 S{BED_TEMP}

    # Ensure pause state queue is clear
    CLEAR_PAUSE

    # Make sure we're homed
    {% if not "xyz" in printer.toolhead.homed_axes %}
      G28
    {% endif %}

    # We want to purge all extruders with an even mixture.
    # Store the current tool's values to put it back later.
    {% set active_tool = printer["gcode_macro _ACTIVATE_TOOL"].active_tool | default(0) %}
    {% set tool_macro = printer['gcode_macro T%s' % active_tool] %}
    # Set the mix, ensuring the tool is activated
    {% set temp_mix = [] %}
    {% for t in tool_macro.mixing_steppers %}
      {% set _ = temp_mix.append((1.0 / loop.length) | round(2, 'floor')) %}
    {% endfor %}

    M567 P{active_tool} E{temp_mix | join(':')}
    _ACTIVATE_TOOL P={active_tool}

    PURGE_LINE EXTRUDER_TEMP={EXTRUDER_TEMP} EXTRUDERS=[0, 1]

    # Restore the original tool mixture
    M567 P{active_tool} E{tool_macro.mixing_ratios | join(':')}

    RESPOND TYPE=echo MSG='Starting print'

[gcode_macro PRINT_END]
  description = End print job and park print head
  gcode =
    _STOP_PRINTING_AND_PARK

[gcode_macro _STOP_PRINTING_AND_PARK]
  description = Same steps for cancel, end of print, etc.
  variable_keep_bed_hot = True
  gcode =
    TURN_OFF_HEATERS
    M107

    # Move to park using Fluidd's macro, park position is set in _CLIENT_VARIABLE
    {% set client = printer['gcode_macro _CLIENT_VARIABLE'] | default({}) %}
    {% set park_x = "" if (client.park_at_cancel_x|default(none) is none)
              else "X=" ~ client.park_at_cancel_x %}
    {% set park_y = "" if (client.park_at_cancel_y|default(none) is none)
              else "Y=" ~ client.park_at_cancel_y %}
    _TOOLHEAD_PARK_PAUSE_CANCEL  {park_x} {park_y}

    # Fluidd variables to reset
    SET_GCODE_VARIABLE MACRO=RESUME VARIABLE=idle_state VALUE=False
    # clear pause_next_layer and pause_at_layer as preparation for next print
    SET_PAUSE_NEXT_LAYER ENABLE=0
    SET_PAUSE_AT_LAYER ENABLE=0 LAYER=0

    {% if keep_bed_hot %}
      M140 S{printer.heater_bed.target}
    {% endif %}
    M117 ...Idle...
