
################################################################################
## Printer Basics

[mcu]
  # Serial for Cetus2 board
  # serial        : /dev/serial/by-id/usb-Klipper_stm32f103xe_32FFDD053050453910572343-if00
  # Serial for SKR 1.4 Turbo
  serial        : /dev/serial/by-id/usb-Klipper_lpc1769_22900116E910D595CE1DDB61C72000F5-if00
  restart_method: command

[printer]
  kinematics            : cartesian
  max_velocity          : 300
  max_accel             : 8000
  minimum_cruise_ratio  : 0.625
  square_corner_velocity: 5.0

  max_z_velocity: 30
  max_z_accel   : 1000

################################################################################
## Steppers

[stepper_x]
  step_pin  : DRIVER_X_STEP
  dir_pin   : !DRIVER_X_DIR
  enable_pin: !DRIVER_X_EN

  rotation_distance      : 40
  microsteps             : 64
  full_steps_per_rotation: 200

  endstop_pin     : X_STOP
  # -2 is the end of the rail before the belt mount hits.
  position_min       : -2
  position_endstop   : 210
  position_max       : 210
  homing_speed       : 50
  homing_retract_dist: 3
  second_homing_speed: 5

[tmc2209 stepper_x]
  uart_pin             : DRIVER_X_CS
  interpolate          : False
  stealthchop_threshold: 0

  # Idle delay down into hold current, gracefully.
  driver_IHOLDDELAY: 15
  driver_TPOWERDOWN: 255

  # BTT2209 v1.3 uses a 0.110Ohm RSENSE value
  sense_resistor: 0.110

  # OMC 17HS15-1504S
  # Rated 1.5A. 2.3Ohms, 4.4mH, 1.8deg
  # https://github.com/MakerBogans/docs/wiki/TMC-Driver-Tuning
  # Sheet results:
  run_current : 1.000
  driver_TBL  : 1
  driver_TOFF : 3
  driver_HSTRT: 1
  driver_HEND : 3

[stepper_y]
  step_pin  : DRIVER_Y_STEP
  dir_pin   : !DRIVER_Y_DIR
  enable_pin: !DRIVER_Y_EN

  rotation_distance      : 40
  microsteps             : 64
  full_steps_per_rotation: 200

  # Sensorless homing bashes against the housing of the stepper itself
  endstop_pin        : tmc2209_stepper_y: virtual_endstop
  position_min       : -2
  position_endstop   : -2
  position_max       : 308 # Just off the end of the rail
  homing_speed       : 20
  homing_retract_dist: 0

[tmc2209 stepper_y]
  uart_pin             : DRIVER_Y_CS
  diag_pin             : Y_STOP
  interpolate          : False
  stealthchop_threshold: 0

  # Idle delay down into hold current, gracefully.
  driver_IHOLDDELAY: 15
  driver_TPOWERDOWN: 255

  # BTT2209 v1.3 uses a 0.110Ohm RSENSE value
  sense_resistor: 0.110

  # OMC 17HS15-1504S
  # Rated 1.5A. 2.3Ohms, 4.4mH, 1.8deg
  # https://github.com/MakerBogans/docs/wiki/TMC-Driver-Tuning
  # Sheet results:
  run_current : 1.000
  driver_TBL  : 1
  driver_TOFF : 3
  driver_HSTRT: 1
  driver_HEND : 3

  # https://www.klipper3d.org/TMC_Drivers.html#sensorless-homing
  # Min sensitivity without clicks: 50
  # Max sensitivity after warmup: 70
  # Calculated: schfify-five
  driver_SGTHRS: 55

[stepper_z]
  step_pin  : DRIVER_Z_STEP
  dir_pin   : !DRIVER_Z_DIR
  enable_pin: !DRIVER_Z_EN

  rotation_distance      : 4
  microsteps             : 32
  full_steps_per_rotation: 200

  endstop_pin        : !Z_STOP
  position_endstop   : 6
  position_max       : 335
  position_min       : -3
  homing_speed       : 30
  homing_retract_dist: 10
  second_homing_speed: 5

[tmc2209 stepper_z]
  uart_pin             : DRIVER_Z_CS
  interpolate          : False
  stealthchop_threshold: 0

  # Idle delay down into hold current, gracefully.
  driver_IHOLDDELAY: 15
  driver_TPOWERDOWN: 255

  # BTT2209 v1.3 uses a 0.110Ohm RSENSE value
  sense_resistor: 0.110

  # OMC 17HS15-1504S
  # Rated 1.5A. 2.3Ohms, 4.4mH, 1.8deg
  # https://github.com/MakerBogans/docs/wiki/TMC-Driver-Tuning
  # Sheet results:
  run_current : 1.000
  driver_TBL  : 1
  driver_TOFF : 3
  driver_HSTRT: 1
  driver_HEND : 3

[homing_override]
  axes: xyz
  gcode:
    # Params is an array, 'G' is always the first param. If there are no other
    # params it means home everything.
    {% set home_x = (('X' in params) or (params|length == 1)) %}
    {% set home_y = (('Y' in params) or (params|length == 1)) %}
    {% set home_z = (('Z' in params) or (params|length == 1)) %}
    M117 Homing...
    SAVE_GCODE_STATE NAME=STATE_HOME_OVERRIDE

    _DISABLE_STEPPER_CHILLAX

    {% if (not 'z' in printer.toolhead.homed_axes) %}
      {% set home_z = true %}
      # The bed knows where it is because it knows where it isn't
      SET_KINEMATIC_POSITION Z=0
    {% endif %}

    {% if (printer.toolhead.position.z < 25) or (home_z) %}
      { action_respond_info("Moving bed to clear nozzle and home") }
      # We want to move far enough that any z-tilt will still clear the nozzle
      G91
      G1 Z25
    {% endif %}

    {% if home_x %}
      M117 Homing X
      G28 X
      G91
      G0 X-20 F60000
      M400
    {% endif %}

    {% if home_y %}
      M117 Homing Y
      G28 Y
      G91
      G0 Y20 F60000
      M400
    {% endif %}

    {% if home_z %}
      M117 Homing Z
      # Move the nozzle off the bed for safety
      G90
      G1 X{printer.toolhead.axis_maximum.x - 2} Y{printer.toolhead.axis_minimum.y} F60000
      G28 Z
      G1 Z25 F60000
    {% endif %}

    _ENABLE_STEPPER_CHILLAX
    RESTORE_GCODE_STATE NAME=STATE_HOME_OVERRIDE
    M117 ...Idle...

################################################################################
## Extruder

[include toolhead.cfg]

################################################################################
## Bed and Platform

[heater_bed]
  heater_pin : FAN0
  sensor_pin : TEMP_BED
  sensor_type: NTC 100K MGB18-104F39050L32

  control = pid
  pid_Kp  = 69.184
  pid_Ki  = 1.153
  pid_Kd  = 1037.757

  min_temp : 0
  max_temp : 110
  max_power: 1.0

[verify_heater heater_bed]
  # Bed heater is a little undersized for higher temperatures and can trip.
  # Give it more time to work, default is 60.
  check_gain_time : 150

# Screws are 30mm in along the sides of the bed. Make sure the bed clips won't
# interfere!
[screws_tilt_adjust]
  screw1     : 50,  0
  screw1_name: 'Front Left'
  screw2     : 50,  250
  screw2_name: 'Rear Left'
  screw3     : 209, 250
  screw3_name: 'Rear Right'
  screw4     : 209, 0
  screw4_name: 'Front Right'

  speed            : 180
  horizontal_move_z: 5

[delayed_gcode bed_mesh_init]
  initial_duration = .01
  gcode =
    BED_MESH_PROFILE LOAD=default

[delayed_gcode stepper_chillax_init]
  initial_duration = 0.1
  gcode =
    _ENABLE_STEPPER_CHILLAX
