[gcode_macro _ORBITER_SENSOR_VARIABLES]         # change here macro configurables, enable/disablee functions!
  variable_enable_autoload        :True   # enable filament autoload feature by setting this variable True
  variable_enable_runout          :True   # enable runout by setting this variable True
  variable_enable_autochange      :False  # enable filament auto change after runout detection
  variable_enable_tangle          :True   # enable tangle by setting this variable True
  # Tracking state
  variable_loadbusy: 0
  gcode:

[filament_switch_sensor O2_sensor]
  switch_pin: ${mcu_name}:ORBITER_SENSOR
  pause_on_runout: False
  runout_gcode: _ORBITER_RUNOUT
  insert_gcode: _ORBITER_LOAD_FILAMENT
  event_delay: 0.1 # may be changed to 0 for user with mmu
  pause_delay: 0.1

[gcode_button O2_unload]
  pin: ${mcu_name}:ORBITER_UNLOAD
  press_gcode:  # filament unload procedure
    #M118 Debug Unload press
    _ORBITER_TANGLE_OR_UNLOAD
  release_gcode: # do not add any macro call here
    #M118 Debug Unload release

[gcode_macro _ORBITER_RUNOUT]
gcode:
  {% set sensor = printer['gcode_macro _ORBITER_SENSOR_VARIABLES'] %}
  {% if(sensor.enable_runout|lower == 'true') %}
    {% if (sensor.loadbusy == 0) %}
      M118 O2S: Printer paused due to filament runout!
      PAUSE # call printer pause macro
      {% if (sensor.enable_autochange|lower == 'true') %}
        SET_GCODE_VARIABLE MACRO=_ORBITER_SENSOR_VARIABLES VARIABLE=loadbusy VALUE=1
        UNLOAD_FILAMENT
        SET_GCODE_VARIABLE MACRO=_ORBITER_SENSOR_VARIABLES VARIABLE=loadbusy VALUE=0
      {% endif %}
    {% endif %}
  {% else %}
    M118 O2S: Filament runout is disabled in the sensor config file!
  {% endif %}

[gcode_macro _ORBITER_LOAD_FILAMENT]
gcode:
  {% set sensor = printer['gcode_macro _ORBITER_SENSOR_VARIABLES'] %}
  {% if (printer.print_stats.state != "printing") %}
    {% if(sensor.enable_autoload|lower == 'true') %}
      SET_GCODE_VARIABLE MACRO=_ORBITER_SENSOR_VARIABLES VARIABLE=loadbusy VALUE=1
      LOAD_FILAMENT
      SET_GCODE_VARIABLE MACRO=_ORBITER_SENSOR_VARIABLES VARIABLE=loadbusy VALUE=0
    {% endif %}
  {% else %}
    M118 O2S: Printing! Can't load filament right now!
  {% endif %}

[gcode_macro _ORBITER_TANGLE_OR_UNLOAD]
variable_loadbusy: 0
gcode:
  {% set sensor = printer['gcode_macro _ORBITER_SENSOR_VARIABLES'] %}
  # The same input is used for both tangle and unload button, but it is unlikely
  # a human was able to press the button during printing, so probably a tangle.
  {% if (printer.print_stats.state == "printing") %}
    {% if(sensor.enable_tangle|lower == 'true') %}
      M118 O2S: Filament tangle detected, print paused!
      PAUSE
    {% else %}
      M118 O2S: Filament tangle detected, action disabled!
    {% endif %}
  {% else %} #filament unload button pressed
    {% if (sensor.loadbusy == 0) %} #enable unload if not already loading
      SET_GCODE_VARIABLE MACRO=_ORBITER_SENSOR_VARIABLES VARIABLE=loadbusy VALUE=1
      UNLOAD_FILAMENT
      SET_GCODE_VARIABLE MACRO=_ORBITER_SENSOR_VARIABLES VARIABLE=loadbusy VALUE=0
    {% endif %}
  {% endif %}

[delayed_gcode clear_loadbusy]
gcode:
  SET_GCODE_VARIABLE MACRO=_ORBITER_SENSOR_VARIABLES VARIABLE=loadbusy VALUE=0
  #M118 O2S: Clear Load busy!
