[mcu ${mcu_name}]
  serial        : ${mcu_serial}
  baud          : 250000
  restart_method: command

[temperature_sensor ${mcu_name}]
  sensor_type: temperature_mcu
  sensor_mcu : ${mcu_name}
  min_temp   : 0
  max_temp   : 100

[adxl345 ${mcu_name}]
  cs_pin   : ${mcu_name}:ADXL345_CS
  spi_bus  : spi1
  axes_map : y, z, x # Assumes back-facing vertical toolboard mounting
  spi_speed: 5000000

[output_pin _o2srun_led_${mcu_name}]
  pin  : ${mcu_name}:RUN_LED
  value: 1
  shutdown_value: 0

%{ if hotend_fan == "true" }
[heater_fan hotend_Fan]
  pin                     : !${mcu_name}:HOTEND_FAN
  tachometer_pin          :  ${mcu_name}:HOTEND_TACH
  tachometer_ppr          : 2
  tachometer_poll_interval: 0.0005
  heater                  : extruder
  cycle_time              : 0.0001 #10KHz PWM frecvency
  heater_temp             : 50
  fan_speed               : 1.0 # can be lowered to reduce fan noise
  hardware_pwm            : false
  shutdown_speed          : 0.0
  max_power               : 1.0 # can be lowered to reduce fan noise
%{ endif }

%{ if fan_pins == 2 }
[fan]
  pin: !${mcu_name}:FAN_DCCTL
  enable_pin: ${mcu_name}:FAN_ENABLE
  min_power: 0.2
  shutdown_speed: 0.0
  cycle_time: 0.0001 # 10KHz control signal frequency
  kick_start_time: 0.2
  hardware_pwm: False
%{ endif }
%{ if fan_pins == 3 }
[fan]
  pin: !${mcu_name}:FAN_DCCTL
  enable_pin: ${mcu_name}:FAN_ENABLE
  min_power: 0.2
  tachometer_pin: ${mcu_name}:FAN_TACH
  tachometer_ppr: 2
  tachometer_poll_interval: 0.0005
  shutdown_speed: 0.0
  cycle_time: 0.0001 # 10KHz control signal frequency
  kick_start_time: 0.2
  hardware_pwm: False
%{ endif }
%{ if fan_pins == 4 }
[fan]
  pin: ${mcu_name}:FAN_PWMCTL
  enable_pin: ${mcu_name}:FAN_ENABLE
  tachometer_pin: ${mcu_name}:FAN_TACH
  tachometer_ppr: 2
  tachometer_poll_interval: 0.0005
  shutdown_speed: 0.0
  cycle_time: 0.00004 # 25KHz control PWM frequency
  hardware_pwm: False
%{ endif }


[board_pins ${mcu_name}]
  mcu    : ${mcu_name}
  aliases:
    RUN_LED = PB13,
    RGB_LED = PC15,

    ENDSTOP = PA2,

    # ADXL is attached to SPI1
    ADXL345_CS=PA4,

    # WARNING: Limit max_power to 0.995 to enable autorecovery
    # pullup_resistor = 2200
    DRIVER0_EN   = PC14, # active low, use !
    DRIVER0_STEP = PB3,
    DRIVER0_DIR  = PB4, # active low, use !
    DRIVER0_UART = PC13,

    HEATER = PB9,
    TEMP   = PA1,
    HOTEND_PWR = PA0,

    HOTEND_FAN = PB15, # Use !
    HOTEND_TACH = PB12,
    # tachometer_ppr: 2
    # tachometer_poll_interval: 0.0005
    # cycle_time: 0.0001 #10KHz PWM
    # hardware_pwm: false

    FAN_DCCTL  = PA10,
    FAN_PWMCTL = PB0,
    FAN_ENABLE = PB14,
    FAN_TACH   = PA14,

    ORBITER_SENSOR = PA8,
    ORBITER_UNLOAD = PA9
