[mcu ${mcu_name}]
  serial        : ${mcu_serial}
  baud          : 250000
  restart_method: command

[temperature_sensor ${mcu_name}]
  sensor_type: temperature_mcu
  sensor_mcu : ${mcu_name}
  min_temp   : 0
  max_temp   : 100

[adc_temperature HOT_P_${mcu_name}]
  #temperature1:5 # value in Ampere
  temperature1:120 # value in Watts
  #voltage1:1.32
  voltage1:1.91
  #temperature2:10 # value in Ampere
  temperature2:240 # value in Watts
  voltage2:3.82
  #voltage2:2.64

[temperature_sensor hotend_power_${mcu_name}]
  sensor_pin : ${mcu_name}:HOTEND_PWR
  sensor_type: HOT_P_${mcu_name}

[output_pin _o2run_led_${mcu_name}]
  pin  : ${mcu_name}:RUN_LED
  value: 1
  shutdown_value: 0

[board_pins ${mcu_name}]
  mcu    : ${mcu_name}
  aliases:
    RUN_LED = PB8,
    RGB_LED = PA1,

    ENDSTOP = PB0,

    DRIVER0_EN   = PB4, # active low, use !
    DRIVER0_STEP = PB7,
    DRIVER0_DIR  = PB6,
    DRIVER0_UART = PB5,

    HEATER = PA0,
    TEMP   = PA3,
    HOTEND_PWR = PA2,

    HOTEND_FAN  = PA9, # Use !
    HOTEND_TACH = PA8,

    FAN      = PA10,
    TOOL_FAN = PB1,

    # LIS2DW
    # spi_bus: spi1
    LIS2DW_CS = PA4,
    LIS2DW_SCLK = PA5,
    LIS2DW_MOSI = PA7,
    LIS2DW_MISO = PA6,

    BLTOUCH_SENSE = PA15,
    BLTOUCH_CNTRL = PB3
