
################################################################################
## Printer Basics

[mcu]
  serial: /dev/serial/by-id/usb-Klipper_stm32f446xx_480026000E50535556323420-if00
  restart_method: command

[printer]
  kinematics            : corexy
  max_velocity          : 450
  max_accel             : 8000
  minimum_cruise_ratio  : 0.625
  square_corner_velocity: 6.0

  max_z_velocity: 200
  max_z_accel   : 8000

################################################################################
## Steppers

[stepper_y]
  step_pin  : DRIVER0_STEP
  dir_pin   : !DRIVER0_DIR
  enable_pin: !DRIVER0_EN

  rotation_distance      : 40
  microsteps             : 64
  full_steps_per_rotation: 200

  # Sensorless homing
  endstop_pin        : tmc2209_stepper_y: virtual_endstop
  position_endstop   : 0
  position_max       : 178
  homing_speed       : 30
  homing_retract_dist: 0

[tmc2209 stepper_y]
  uart_pin: DRIVER0_CS
  diag_pin: DRIVER0_DIAG
  interpolate  : False

  # BTT2209 v1.3 uses a 0.110Ohm RSENSE value

  # STEPPERONLINE 14HS20-1504S
  # Rated 1.5A. 2.8Ohms, 3.8mH, 1.8deg
  # https://github.com/MakerBogans/docs/wiki/TMC-Driver-Tuning
  # Sheet results:
  stealthchop_threshold: 0
  sense_resistor: 0.110
  run_current: 0.976
  driver_TBL: 1
  driver_TOFF: 3
  driver_HSTRT: 4
  driver_HEND: 3

  # Idle delay down into hold current, gracefully.
  driver_IHOLDDELAY = 15
  driver_TPOWERDOWN = 255

  # https://www.klipper3d.org/TMC_Drivers.html#sensorless-homing
  # Min sensitivity without clicks: 65
  # Max sensitivity after warmup: 77
  # Calculated: 69 (nice)
  driver_SGTHRS: 69

[stepper_x]
  step_pin  : DRIVER7_STEP
  dir_pin   : !DRIVER7_DIR
  enable_pin: !DRIVER7_EN

  rotation_distance      : 40
  microsteps             : 64
  full_steps_per_rotation: 200

  # Sensorless homing
  endstop_pin        : tmc2209_stepper_x: virtual_endstop
  position_endstop   : 0
  position_max       : 172
  homing_speed       : 30
  homing_retract_dist: 0

[tmc2209 stepper_x]
  uart_pin: DRIVER7_CS
  diag_pin: DRIVER7_DIAG
  interpolate  : False

  # Idle delay down into hold current, gracefully.
  driver_IHOLDDELAY = 15
  driver_TPOWERDOWN = 255

  # Values from stepper_y
  stealthchop_threshold: 0
  sense_resistor: 0.110
  run_current: 0.976
  driver_TBL: 1
  driver_TOFF: 3
  driver_HSTRT: 4
  driver_HEND: 3
  driver_SGTHRS: 69

[stepper_z]
  step_pin  : DRIVER6_STEP
  dir_pin   : !DRIVER6_DIR
  enable_pin: !DRIVER6_EN

  rotation_distance      : 32
  microsteps             : 128
  full_steps_per_rotation: 200

  # Optical end stop uses a pull-up resistor, so we want to pull down and invert
  endstop_pin        : ~!J40_SENSOR # Optical endstop mod
  position_endstop   : 3
  position_max       : 166
  position_min       : -3
  homing_speed       : 30
  homing_retract_dist: 5

[tmc2209 stepper_z]
  uart_pin: DRIVER6_CS
  interpolate  : False

  # Idle delay down into hold current, gracefully.
  driver_IHOLDDELAY = 15
  driver_TPOWERDOWN = 255

  # BTT2209 v1.3 uses a 0.110Ohm RSENSE value

  # STEPPERONLINE 17HS15-1504S-X1
  # Rated 1.5A. 2.3Ohms, 4.4mH, 1.8deg
  # https://github.com/MakerBogans/docs/wiki/TMC-Driver-Tuning
  # Sheet results:
  stealthchop_threshold: 0
  sense_resistor: 0.110
  run_current: 0.976
  driver_TBL: 1
  driver_TOFF: 3
  driver_HSTRT: 1
  driver_HEND: 3

[stepper_z1]
  step_pin  : DRIVER5_STEP
  dir_pin   : DRIVER5_DIR
  enable_pin: !DRIVER5_EN

  rotation_distance      : 32
  microsteps             : 128
  full_steps_per_rotation: 200

[tmc2209 stepper_z1]
  uart_pin: DRIVER5_CS
  interpolate  : False

  # Idle delay down into hold current, gracefully.
  driver_IHOLDDELAY = 15
  driver_TPOWERDOWN = 255

  # From stepper_z
  stealthchop_threshold: 0
  sense_resistor: 0.110
  run_current: 0.976
  driver_TBL: 1
  driver_TOFF: 3
  driver_HSTRT: 1
  driver_HEND: 3

[stepper_z2]
  step_pin  : DRIVER4_STEP
  dir_pin   : DRIVER4_DIR
  enable_pin: !DRIVER4_EN

  rotation_distance      : 32
  microsteps             : 128
  full_steps_per_rotation: 200

[tmc2209 stepper_z2]
  uart_pin: DRIVER4_CS
  interpolate  : False

  # Idle delay down into hold current, gracefully.
  driver_IHOLDDELAY = 15
  driver_TPOWERDOWN = 255

  # From stepper_z
  stealthchop_threshold: 0
  sense_resistor: 0.110
  run_current: 0.976
  driver_TBL: 1
  driver_TOFF: 3
  driver_HSTRT: 1
  driver_HEND: 3

[homing_override]
  axes: xyz
  gcode:
    # Make sure the probe is stowed, otherwise we risk colliding it into something.
    _CHECK_PROBE ACTION=home

    # Params is an array, 'G' is always the first param. If there are no other
    # params it means home everything.
    {% set home_x = (('X' in params) or (params|length == 1)) %}
    {% set home_y = (('Y' in params) or (params|length == 1)) %}
    {% set home_z = (('Z' in params) or (params|length == 1)) %}
    M117 Homing...

    # If we don't know where the nozzle is it's not safe to home Z.
    {% if ("x" not in printer.toolhead.homed_axes or "y" not in printer.toolhead.homed_axes) %}
      {% set unsafe_z = true %}
      {% set home_x = true %}
      {% set home_y = true %}
    {% endif %}

    SAVE_GCODE_STATE NAME=STATE_HOME_OVERRIDE

    {% if (not 'z' in printer.toolhead.homed_axes) %}
      {% set home_z = true %}
      # The bed knows where it is because it knows where it isn't
      SET_KINEMATIC_POSITION Z=0
    {% endif %}

    {% if (printer.toolhead.position.z < 25) or (home_z) or (unsafe_z) %}
      { action_respond_info("Lowering bed to clear nozzle and home") }
      # We want to move far enough that any z-tilt will still clear the nozzle
      _GENTLE_MOVE_Z DISTANCE=25
    {% endif %}

    {% if home_x %}
      M117 Homing X
      G28 X0
      G91
      G0 X30 F30000
      M400
      # Wait for stallguard clear, at least 2 seconds..
      G4 P2000
    {% endif %}

    {% if home_y %}
      M117 Homing Y
      G28 Y0
      G91
      G0 Y30 F30000
      M400
    {% endif %}

    {% if home_z %}
      M117 Homing Z
      # The optical end stop is at the rear Z axis, so the safest location for
      # the nozzle is next to it for homing
      G90
      {% set x_center = (printer.toolhead.axis_minimum.x|float + printer.toolhead.axis_maximum.x|float ) / 2 %}
      G1 X{x_center} Y{printer.toolhead.axis_maximum.y - 2} F6000
      G28 Z
      G1 Z25 F30000
      M400
    {% endif %}

    RESTORE_GCODE_STATE NAME=STATE_HOME_OVERRIDE
    M117 ...Idle...

[resonance_tester]
  accel_chip   = adxl345 ebb36
  probe_points =
    85, 85, 30

[input_shaper]
shaper_type_x: mzv
shaper_freq_x: 83.4
shaper_type_y: zv
shaper_freq_y: 58.0

################################################################################
## Extruder

[extruder]
  step_pin  : ebb36:DRIVER0_STEP
  dir_pin   : ebb36:DRIVER0_DIR
  enable_pin: !ebb36:DRIVER0_EN
  heater_pin: ebb36:HEATER0
  sensor_pin: ebb36:TEMP0

  rotation_distance      : 22.23
  microsteps             : 16
  gear_ratio             : 50:10
  full_steps_per_rotation: 200

  sensor_type: ATC Semitec 104NT-4-R025H42G # 60w/40w Revo Hotend
  control = pid
  pid_Kp  = 25.755
  pid_Ki  = 1.908
  pid_Kd  = 86.924

  min_temp                 : 0
  min_extrude_temp         : 160
  max_temp                 : 290
  max_extrude_only_distance: 150
  max_extrude_cross_section: 0.8

  pressure_advance         : 0.04

  nozzle_diameter  : 0.400
  filament_diameter: 1.750

[tmc2209 extruder]
  uart_pin: ebb36:DRIVER0_UART
  interpolate   : False

  # EBB36 v1.1 uses a 0.110Ohm RSENSE value

  # FYSETC pancake stepper thing from Amazon.
  # Rated 0.5A(?) 12Ohm 10mH, 1.8°
  # https://github.com/MakerBogans/docs/wiki/TMC-Driver-Tuning
  # Sheet results:
  stealthchop_threshold: 0
  sense_resistor: 0.110
  run_current   : 0.368 # TODO: If this gets hot drop to 0.336
  driver_TBL: 1
  driver_TOFF: 3
  driver_HSTRT: 0
  driver_HEND: 1

[fan]
  pin: ebb36:FAN2

  off_below: 0.13
  kick_start_time: 0.5

[heater_fan hotend_fan]
  pin        : ebb36:FAN1
  heater     : extruder
  heater_temp: 50.0

  off_below      : 0.13
  kick_start_time: 0.5

[led nozzle_led]
  white_pin     = ebb36:BLTOUCH_SENSE
  initial_WHITE = 1.0

[firmware_retraction]
  retract_length         = 1
  retract_speed          = 20
  unretract_extra_length = 0
  unretract_speed        = 10

[gcode_macro T0]
  description: Activate extruder 0
  variable_spool_id: None
  gcode:
    SET_ACTIVE_SPOOL ID={ printer['gcode_macro T0'].spool_id }

################################################################################
## Probe

[servo probe_dock]
  pin           = BLTOUCH_CNTRL
  initial_angle = 250

[probe]
  pin        = ebb36:SENSOR2
  z_offset   = 9.715 # 9.410 plus 0.305 feeler gauge
  y_offset   = 8
  x_offset   = -29
  speed      = 10
  lift_speed = 30

  samples                   = 3
  samples_result            = average
  sample_retract_dist       = 3.0
  samples_tolerance         = 0.050
  samples_tolerance_retries = 5

################################################################################
## Bed

[heater_bed]
  heater_pin: HEATER_BED
  sensor_pin: TEMP_BED

  pwm_cycle_time: 0.01666 # Reduces flicker on non-zero-crossing SSRs
  sensor_type: Generic 3950 # Fabreeko edge-to-edge thermistor
  smooth_time: 3.0
  control = pid
  pid_Kp  = 42.806
  pid_Ki  = 1.968
  pid_Kd  = 232.757

  min_temp : 0
  max_temp : 120 # 150C fuse, 150C magnets, 200C glue pad
  max_power: 1.0

[temperature_sensor bed_top]
  sensor_type: Generic 3950
  sensor_pin : TEMP0

[z_tilt]
  z_positions:
    -55, 12
    85, 185
    226, 12
  points: # Nozzle locations, so apply probe offset manually..
    29, 4
    114, 155
    170, 4
  speed: 300
  horizontal_move_z: 35
  retries:           5
  retry_tolerance:   0.01

[bed_mesh]
  algorithm = bicubic
  speed     = 300
  horizontal_move_z = 20

  mesh_min    = 10,  10
  mesh_max    = 140, 160
  probe_count = 3,   3

[delayed_gcode bed_mesh_init]
  initial_duration = .01
  gcode =
    BED_MESH_PROFILE LOAD=default

[led bed_leds]
  white_pin = HEATER0
  initial_WHITE = 0.25
  hardware_pwm = True # FAN2 through FAN5 share a PWM timer
  cycle_time = 0.0002 # 5 KHz, hardware PWM should handle it fine

[fan_generic FILTER_FANS]
  pin = HEATER1
  max_power = 1
  shutdown_speed = 0
  off_below: 0.1
