
[extruder]
  step_pin  : ebb36:DRIVER0_STEP
  dir_pin   : ebb36:DRIVER0_DIR
  enable_pin: !ebb36:DRIVER0_EN
  heater_pin: ebb36:HEATER0

  # LDO Orbiter v2.0
  rotation_distance      : 4.637
  microsteps             : 16
  full_steps_per_rotation: 200

  sensor_type  : MAX31865
  sensor_pin   : ebb36: MAX31865_CS
  spi_bus      : spi1
  rtd_nominal_r: 1000
  control = pid
  pid_Kp  = 25.755
  pid_Ki  = 1.908
  pid_Kd  = 86.924

  min_temp                 : 0
  min_extrude_temp         : 160
  max_temp                 : 290
  max_extrude_only_distance: 150
  #max_extrude_cross_section: 0.8

  pressure_advance         : 0.04 # TODO calibrate

  nozzle_diameter  : 0.400
  filament_diameter: 1.750

[tmc2209 extruder]
  uart_pin: ebb36:DRIVER0_UART
  interpolate   : False

  # EBB36 v1.1 uses a 0.110Ohm RSENSE value

  # LDO motors ???
  # https://github.com/MakerBogans/docs/wiki/TMC-Driver-Tuning
  # Sheet results:
  stealthchop_threshold: 0
  sense_resistor: 0.110
  run_current   : 0.85 # TODO: Tune!
  driver_TBL: 0
  driver_TOFF: 4
  driver_HSTRT: 7
  driver_HEND: 6

[temperature_sensor Heatsink]
  sensor_type: Generic 3950
  sensor_pin: ebb36:TEMP0
  max_temp: 85

[fan]
  pin: ebb36:FAN2

  off_below: 0.13
  kick_start_time: 0.5

[heater_fan hotend_fan]
  pin        : ebb36:FAN1
  heater     : extruder
  heater_temp: 50.0

  off_below      : 0.13
  kick_start_time: 0.5

[neopixel hotend_rgb]
  pin: ebb36:LED0
  chain_count:   3
  color_order:   GRBW
  initial_RED:   0.4
  initial_GREEN: 0.4
  initial_BLUE:  0.4

################################################################################
## Probe

[servo probe_dock]
  pin           = BLTOUCH_CNTRL
  initial_angle = 250

[gcode_macro _PROBE_DOCK_CONFIG]
  description: Config details for a dockable probe
  variable_verbose = False
  # Distance the bed should be past to avoid dock clearance issues
  variable_clearance_z = 25
  # Servo positions for the deployment
  variable_servo_name = "probe_dock"
  variable_servo_open = 0
  variable_servo_closed = 250
  variable_servo_delay = 750  # Milliseconds to wait for the servo to stop
  # Location of the nozzle when the probe engages or disengages in the dock
  variable_dock_x = 42
  variable_dock_y = 164
  # The position to start the approach to attach
  variable_attach_approach_x = 42
  variable_attach_approach_y = 145
  # The position to move to extract the probe
  variable_attach_clear_x = 90
  variable_attach_clear_y = 164
  gcode:

[probe]
  pin        = ebb36:BLTOUCH_SENSE
  z_offset   = 9
  y_offset   = 16
  x_offset   = -16
  speed      = 10
  lift_speed = 30

  samples                   = 3
  samples_result            = average
  sample_retract_dist       = 3.0
  samples_tolerance         = 0.050
  samples_tolerance_retries = 5

[z_calibration]
  nozzle_xy_position: 107.5, 177.5 # Where the nozzle clicks the endstop
  switch_xy_position: 121.5, 165 # Where the probe body clicks the endstop
  switch_offset     : 0.5 # Omron D2F-5
  offset_margins    : -1.0,1.0

  samples                  : 7
  samples_tolerance        : 0.050
  samples_tolerance_retries: 5
  samples_result           : median

  speed: 200 # The moving speed in X and Y.
  start_gcode:
    # Don't attach the probe at the start, as the probe may collide with the
    # back side of the printer. Wait until after the nozzle is probed.
    # We do warm up the nozzle here, so any stuff on the tip can be squished
    # onto the endstop probe instead of affecting the offset.
    # 185 should let most material soften wtihout oozing more out of the nozzle.
    M109 S185
    # Enable the nozzle switch, which overrides the opto z-endstop.
    SET_PIN PIN=enable_nozzle_z VALUE=1
  before_switch_gcode:
    ATTACH_PROBE
  end_gcode:
    SET_PIN PIN=enable_nozzle_z VALUE=0
    DOCK_PROBE
