
[extruder]
  step_pin  : ebb36:DRIVER0_STEP
  dir_pin   : ebb36:DRIVER0_DIR
  enable_pin: !ebb36:DRIVER0_EN
  heater_pin: ebb36:HEATER0

  # LGX Lite v2
  rotation_distance: 5.7
  microsteps       : 16

  sensor_pin : ebb36:TEMP0
  sensor_type: ATC Semitec 104NT-4-R025H42G # 60w/40w Revo Hotend
  control = pid
  pid_Kp  = 25.755
  pid_Ki  = 1.908
  pid_Kd  = 86.924

  min_temp                 : 0
  min_extrude_temp         : 160
  max_temp                 : 290
  max_extrude_only_distance: 150
  max_extrude_cross_section: 0.8

  pressure_advance         : 0.04

  nozzle_diameter  : 0.400
  filament_diameter: 1.750

[tmc2209 extruder]
  uart_pin: ebb36:DRIVER0_UART
  interpolate   : False

  # EBB36 v1.1 uses a 0.110Ohm RSENSE value

  # Unknown LGX Lite motor!
  # https://github.com/MakerBogans/docs/wiki/TMC-Driver-Tuning
  stealthchop_threshold: 0
  sense_resistor: 0.110
  run_current   : 0.65 # TODO: Tune
  # driver_TBL: 1
  # driver_TOFF: 3
  # driver_HSTRT: 0
  # driver_HEND: 1

[fan]
  pin: ebb36:FAN2

  off_below: 0.13
  kick_start_time: 0.5

[heater_fan hotend_fan]
  pin        : ebb36:FAN1
  heater     : extruder
  heater_temp: 50.0

  off_below      : 0.13
  kick_start_time: 0.5

[neopixel hotend_rgb]
  pin: ebb36:LED0
  chain_count:   3
  color_order:   GRBW
  initial_RED:   0.4
  initial_GREEN: 0.4
  initial_BLUE:  0.4

################################################################################
## Probe

[servo probe_dock]
  pin           = BLTOUCH_CNTRL
  initial_angle = 250

[probe]
  pin        = ebb36:SENSOR2
  z_offset   = 9.715 # 9.410 plus 0.305 feeler gauge
  y_offset   = 8
  x_offset   = -29
  speed      = 10
  lift_speed = 30

  samples                   = 3
  samples_result            = average
  sample_retract_dist       = 3.0
  samples_tolerance         = 0.050
  samples_tolerance_retries = 5
