# https://github.com/xbst/Nevermore-Sensors
# Requires custom klippy extras to be installed to work properly.
# https://github.com/nevermore3d/Nevermore_Max/tree/master/Software/Klipper
#
# Inputs:
# sensor_name: Name of the sensor for references
# i2c_mcu: The MCU with the i2c bus
# i2c_bus: The i2c bus the sensor board is attached to

[sgp40]

[temperature_sensor temp_${sensor_name}]
  sensor_type: BME280
  i2c_address: 119
  i2c_mcu: ${i2c_mcu}
  i2c_bus: ${i2c_bus}
  i2c_speed: 400000

[temperature_sensor voc_${sensor_name}]
  sensor_type: SGP40 # Sensor on the top left
  i2c_mcu: ${i2c_mcu}
  i2c_bus: ${i2c_bus}
  ref_temp_sensor: bme280 temp_${sensor_name}
  ref_humidity_sensor: bme280 temp_${sensor_name}
  i2c_speed: 400000
