[servo ${servo_name}]
  pin           = ${servo_pin}
  initial_angle = ${retracted_angle}

[gcode_macro ${upper(servo_name)}_EXTEND]
  description: Extend the ${servo_name} arm
  gcode:
    M400 # Wait until other moves complete in case the head is near the arm

    SET_SERVO servo=${servo_name} angle=${extended_angle}
    G4 P${servo_move_time_ms} # Wait for the servo to move
    # Relax the servo so it doesn't cook
    SET_SERVO servo=${servo_name} width=0

[gcode_macro ${upper(servo_name)}_RETRACT]
  description: Retract the ${servo_name} arm
  gcode:
    M400 # Wait until other moves complete in case the head is near the arm

    SET_SERVO servo=${servo_name} angle=${retracted_angle}
    G4 P${servo_move_time_ms} # Wait for the servo to move
    # Relax the servo so it doesn't cook
    SET_SERVO servo=${servo_name} width=0
