
[extruder]
  step_pin  : ${orbitool_mcu_name}:DRIVER0_STEP
  dir_pin   : ${orbitool_mcu_name}:DRIVER0_DIR
  enable_pin: !${orbitool_mcu_name}:DRIVER0_EN
  heater_pin: ${orbitool_mcu_name}:HEATER

  # Orbiter V2
  microsteps             : 32
  rotation_distance      : 4.637
  full_steps_per_rotation: 200

  sensor_pin     : ${orbitool_mcu_name}:TEMP
  sensor_type    : PT1000 # Dragon Ace with improved sensor
  pullup_resistor: 2200
  control = pid
  pid_Kp  = 40.240
  pid_Ki  = 3.974
  pid_Kd  = 101.855

  # limit heater power to 99.5% to enable autorecovery from short detection
  max_power: 0.995

  min_temp        : 0
  min_extrude_temp: 160
  max_temp        : 290
  max_extrude_only_distance: 500
  max_extrude_cross_section: 20

  # TODO: Tune pressure advance
  pressure_advance: 0.035

  nozzle_diameter  : 0.400
  filament_diameter: 1.750

[neopixel toolhead]
  pin: ${orbitool_mcu_name}:RGB_LED
  chain_count: 3
  color_order:   GRBW
  initial_RED:   0.4
  initial_GREEN: 0.4
  initial_BLUE:  0.4

[tmc2240 extruder]
  uart_pin: ${orbitool_mcu_name}:DRIVER0_UART
  interpolate: False
  stealthchop_threshold: 0

  # LDO-36STH20-1004AHG
  # 1.2A max, 2.1Ohm, 1.6mH
  # TODO: Validate?
  run_current: 0.85 # Orbiter v2.0
  rref: 12000
  driver_TBL: 0
  driver_HEND: 6
  driver_HSTRT: 7
  driver_TOFF: 4


[firmware_retraction] # TODO: Tune!
  retract_length        : 1
  retract_speed         : 25
  unretract_extra_length: 0
  unretract_speed       : 5
  z_hop_height          : 0.5
  clear_zhop_on_z_moves : True

[resonance_tester]
  accel_chip: adxl345 ${orbitool_mcu_name}
  probe_points: 100,150,30  # XYZ head position for testing
  # min_freq: 10
  # max_freq: 200

[input_shaper]
  shaper_type_x: zv
  shaper_freq_x: 63.8
  shaper_type_y: mzv
  shaper_freq_y: 28.4

################################################################################
## Toolhead Selection Macros

[gcode_macro T0]
  description: Activate extruder 0
  variable_spool_id: None
  gcode:
    SET_ACTIVE_SPOOL ID={ printer['gcode_macro T0'].spool_id }

# Variables for additional macros and M-commands
[gcode_macro _EXTENDED_GCODE_COMMANDS]
  description: Configuration for custom gcode command overrides, for additional features.

  # Config for PURGE_LINE
  variable_purgeline_start_x      = 209 # X position of start of purge line
  variable_purgeline_start_y      = 305 # Y position of start of purge line
  variable_purgeline_length       = 40 # Length of line, along X axis towards center.
  variable_purgeline_purge_speed  = 100
  variable_purgeline_travel_speed = 350

  # Configure the mapping of fan_generic to P parameters for M106
  # This lets your slicer emit 'M106 P3 S255' style commands for chamber cooling
  # Make sure the list includes up to the index you intend to use!
  variable_fan_list = [
    ''] # P0, leave blank for default [fan].

  # Load and unload filament macros
  variable_load_length  = 15 # Distance to load quickly
  variable_load_speed  = 500
  variable_load_purge_length = 50 # Distance to purge through the nozzle to clear it
  variable_load_purge_speed  = 200
  variable_load_unload_extra = 65 # Additional unload distance, just to be safe

  gcode:
